In [2]:
import mysql.connector

In [3]:
con=mysql.connector.connect(
    host="localhost", 
    user="root", 
    password="Ob@5229688", 
    database="test123"    
)

In [5]:
cursor=con.cursor()

In [6]:
cursor.execute("""
               Create table if not exists test123.employees(
                   id int primary key,
                   name varchar(100), 
                   salary decimal(10,2),
                   doj date,
                   dept varchar(50)
                   )
""")

In [14]:
import csv
with open('employee.csv', newline='') as f:
    reader=csv.reader(f)
    next(reader)
    for row in reader:
        print(row)
        salary = row[2] if row[2]!='' else None
        cursor.execute("insert into test123.employees(id, name, salary, doj, dept) values(%s, %s,%s, %s, %s)", 
                       (row[0], row[1], salary, row[3], row[4]))

['1', 'John Doe', '50000', '2022-01-15', 'HR']
['2', 'Jane Smith', '60000', '2021-09-01', 'Finance']
['3', 'Alice Johnson', '55000', '2023-03-20', 'IT']
['4', 'Bob Lee', '70000', '2020-07-12', 'Marketing']
['5', 'Sara Khan', '', '2019-12-05', 'HR']

In [15]:
con.commit()

In [16]:
import csv
rows_to_insert=[]
with open('employee.csv', newline='') as f:
    reader=csv.reader(f)
    next(reader)
    for row in reader:
        print(row)
        salary = row[2] if row[2]!='' else None
        rows_to_insert.append((row[0], row[1], salary, row[3], row[4]))

['1', 'John Doe', '50000', '2022-01-15', 'HR']
['2', 'Jane Smith', '60000', '2021-09-01', 'Finance']
['3', 'Alice Johnson', '55000', '2023-03-20', 'IT']
['4', 'Bob Lee', '70000', '2020-07-12', 'Marketing']
['5', 'Sara Khan', '', '2019-12-05', 'HR']

In [17]:
rows_to_insert

[('1', 'John Doe', '50000', '2022-01-15', 'HR'),
 ('2', 'Jane Smith', '60000', '2021-09-01', 'Finance'),
 ('3', 'Alice Johnson', '55000', '2023-03-20', 'IT'),
 ('4', 'Bob Lee', '70000', '2020-07-12', 'Marketing'),
 ('5', 'Sara Khan', None, '2019-12-05', 'HR')]

In [19]:
cursor.execute('truncate table employees')

In [20]:
cursor.executemany("insert into test123.employees(id, name, salary, doj, dept) values(%s, %s,%s, %s, %s)", 
                       rows_to_insert)

In [21]:
con.commit()

In [22]:
cursor.close()

True

In [23]:
con.close()